body{
    background-color: cornsilk;
}

#hero-image{
    height: 200px;
    width: 200px;
    transition: 0.3s;
}
#hero{
    border-bottom: solid 1px black;
}
#hero-image:hover{
    width: 500px;
    height: 500px;	
} 

#clear{
    position: absolute;
    top: 80px;
    left: 400px;
    border-radius: 3px;
}

.search-form{
    width: 300px;
}